.container-1
{
    border:10px solid #000000;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    width: 75%;
}
.flex-box-container-1
{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    border:5px solid black;
    flex-direction: row;
    justify-content:space-around;
}
.flex-box-container-1 div{
    display: flex;
    padding: 10px;
    border:1px solid black;
    align-items: center;
}
.container-2
{
    border:10px solid black;
    width: 75%;
    margin:0 auto;
    text-align: center;
}
.flex-box-container-2
{   padding: 10px;
    display: flex;
    border:5px solid black;
    justify-content:space-around;
}
.flex-box-container-2 div
{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content:space-around;
}
.flex-box-container-2 div img{
    margin: 10px;
    box-shadow: 0px 10px 50px blueviolet;
}